.header {
  background-color: white;
}

.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.left {
  display: flex;
  align-items: baseline;
  gap: 30px;
  height: 100%;
}

.right {
  display: flex;
  align-items: center;
  gap: 40px;
}
