@import "@/abstracts/variables";

.basketList {
  // background-color: #fff;
  // border-radius: $border-radius-medium;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  // padding: 20px;
}
