@import "@/abstracts/variables";

.card {
  background-color: #fff;
  border-radius: $border-radius-medium;
  overflow: hidden;

  @media (min-width: 768px) {
    display: flex;
    font-size: 18px;
  }
}

.left {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    width: 50%;
  }
}

.box {
  max-width: 300px;
  padding: 10px;
}

.image {
  max-width: 100%;
  object-fit: contain;
}

.right {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 768px) {
    width: 50%;
    background-color: #26272a;
    color: #fff;
  }
}

.category {
  font-size: 20px;
}

.price {
  font-size: 28px;
}

.title {
  font-size: 24px;
}

.description {
  margin: 0;
}

.rating {
  display: flex;
  gap: 20px;
}

.rate {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon {
  width: 16px;
}
